.blog-banner {
    background: linear-gradient(260.22deg, #5FBB9F 0.6%, #FBBECE 97.02%);
    padding-top: 160px;

}

.blog-title {
    font-size: 65px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    width: 80%;
}

.blog-stati-title {
    font-size: 65px;
    font-weight: 700;
    color: #000000;
    margin: 70px 0;
}

.blog-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.blog-img {
    width: 237px;
    height: 318px;
    padding: 10px;
    padding-bottom: 0;
}

.blog-stati-img {
    width: 100%;
    height: 570px;
}

.blog-stati-img img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.ml-40 {
    margin-left: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.blog-line {
    padding: 20px;
    width: 100%;
    background-color:
        rgba(95, 187, 159, 1);
    margin: 100px 0;
}