.contact-box {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
}

.contact-box-img {
    width: 80%;
    height: 540px;
}

.contact-box-card {
    border-left: 1px solid #ccc;
    height: 100%;
    padding-left: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.contact-box-title {
    font-size: 35px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
}

.contact-box-text {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
}